body {
    padding: 0;
    margin: 0;
}

header, 
footer {
    background-color: #1F2937;
    color: white;
}

/* Header CSS */

/* Nav CSS */

footer, header {
    font-family: "Roboto";
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    gap: 500px;
}

.nav-title {
   font-size: 24px; 
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

/* Nav CSS */

.main-content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 100px;
    gap: 100px;
}

.awesome {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.awesome-title {
    font-size: 48px;
}

.awesome-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 6px;
}

.image-ph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: rgb(96, 98, 109);

}

/* Header CSS */

/* Random Information Section */

.box2 {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.box2-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    font-family: "Roboto";
}

.box2-subsection {
    display: flex;
    justify-content: center;
}

.box2-sections {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2-boxes {
    height: 150px;
    width: 150px;
    outline: none;
    box-shadow: none;
    background-color: white;
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 6px;
    border-style: solid; 
}

.box2-text {
    text-align: center;
    font-size: 18px;
    font-family: "Roboto";
    color: #1F2937;
}

/* Random Information Section */

/* Quote Section */

.box3 {
    display: flex;
    background-color: #E5E7EB;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.box3-section {
    width: 540px;
    font-family: "Roboto";
}

.box3-quote {
    font-size: 26px; 
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.box3-author {
    text-align: right;
    font-weight: 600;
}

/* Quote Section */

/* Call to Action Section */

.box4 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4-section {
    width: 800px;
    height: 100px;
    background-color:#3882F6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box4-content {
    color: white;
    font-family: "Roboto";
}

.button-style {
    border-style: solid;
    border-color: white;
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 6px;
}

.box4-subtitle {
    margin-bottom: 0.3em;
}

.box4-subtext {
    font-weight: 50;
    font-size: 15px;
    margin-top: 0;
}

/* Call to Action Section */


/* Footer CSS */

footer {
    display: flex;
    justify-content: center;
    /* position: fixed; change to absolute */
    /* padding: 0;
    margin: 0; */
    /* bottom: 0; */
    width: 100%;
    font-size: 18px;
    color: #E5E7EB;
}


/* Footer CSS */